*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: #f2f2f2;
}
.window{
    border: 1px solid #888888;
    height: 301px;
    width: 401px;
    overflow: hidden;
    margin: 20px auto;
}
.images{
    display: flex;
    align-items: flex-start;
    transition: all 0.5s;
    position: relative;
}
.images img{
    top:0;
    position: absolute;
    height: 300px;
    /* width: 100%; */
    transition: all 0.5s;
}
.buttons{
    width: 300px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.buttons button{
    margin: 0 5px;
}
/* .red{
    color:red;
} */

.images img.current{
    left: 0;
    transform: translateX(0);
    z-index: 1
}
.images img.enter{
    transform: translateX(100%);
}
.images img.leave{
    transform: translateX(-100%);
    z-index:1;
}
.left-button{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20%;
    right: 30%;
}
.left-button::before{
    content:'';
    border: 20px solid;
    border-color:  transparent transparent transparent #C8C6CC;
    width: 0;
    position: absolute;

}
.left-button::after{
    content:'';
    border: 20px solid ;
    border-color:transparent transparent transparent #F2F2F2;
    left: -5px;
    width: 0;
    position: absolute;
}
.right-button{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20%;
    left: 30%;
}
.right-button::before{
    content:'';
    border: 20px solid;
    border-color:  transparent #C8C6CC transparent transparent ;
    width: 0;
    position: absolute;

}
.right-button::after{
    content:'';
    border: 20px solid ;
    border-color:transparent #F2F2F2 transparent transparent ;
    right: -5px;
    width: 0;
    position: absolute;
}
 